[run]
plugins = Cython.Coverage
source = Melodie, MelodieInfra

[report]
show_missing = true
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    Melodie/plotter.py
    Melodie/analyzer.py
    Melodie/basic/parallel.py