matplotlib~=3.5.1
seaborn~=0.11.2
numpy >= 1.17.3
pandas~=1.3.5
flask
flask-cors
openpyxl
xlrd==1.2.0
networkx
chardet~=4.0.0
sqlalchemy
astunparse
pprintast
websockets
sphinx
pytest
termcolor;  python_version > '3.7'
cython
melodiestudio
setuptools